/* Default styling */
body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 1.2fr 1fr 8fr;
  background-color: #fcfcfc;
}

p {
  margin: 0;
}

/* Header styling */

header {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 0px 30px;
  border-bottom: 10px solid rgba(245, 245, 245, 0.479);
  
}

.gitProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: start;
}

.gitProfile svg {
  cursor: pointer;
}

.appTitle {
  display: flex;
  align-items: center;
  justify-self: center;
}

.appTitle p {
  font-size: 2em;
  font-family: 'Inter-Bold';
}

.tempScales {
  justify-self: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: white;

}

.unitWrapper {
  display: flex;
}

.tempScales button {
  border: none;
  width: 35px;
  height: 35px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Inter-Medium';
}

.tempScales p {
  font-family: 'Inter-Medium';
  font-size: 18px;
}

.active {
  background-color: rgb(211, 254, 255);
}

.non-active {
  background-color: rgb(218, 242, 250);
}

/* Form Styling */
.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: white;
  padding: 30px 0px;
  width: 30%;
  border-radius: 20px;
  box-shadow: 0 0 5px #d6eaff;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.inputWrapper svg {
  width: 40px;
  height: 40px;
  display: flex;
  justify-self: end;
  align-self: flex-end

}

input, label {
  font-family: 'Inter-Regular';
  font-size: 20px;
}

input {
  display: inline-block;
  outline: none;
  border: none;
  border-bottom: 2px solid #d6eaff;
  padding: 8px 10px;
}

#searchBtn {
  font-family: 'Inter-Medium';
  font-size: 18px;
  padding: 10px 20px;
  background-color: #f5f9ffb9;
  border: 2px solid #d6eaff;
  border-radius: 8px;
  transition: all 0.15s ease;
  cursor: pointer;
}

#searchBtn:hover {
  background-color: #d6eaff;
  border-color: #f5f9ffb9;
  color: white;
  scale: 1.1;
}

/* Weather Container Styling */
.weatherWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weatherContainer {
  background-color: white;
  width: 80%;
  height: 50%;
  border-radius: 15px;
  box-shadow: 0 0 5px #d6eaff;
  display: grid;
  grid-template-rows: 1fr 1fr 1.4fr 1fr;
  grid-template-columns: 2fr 0.5fr 1fr 1fr;
}

.locationContainer {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: 0.5px solid #ccc;
  border-bottom: 0.5px solid #ccc;
}

.cityDiv > p {
  font-family: 'Inter-Medium';
}

.shortText {
  font-size: 3em;
}

.longText {
  font-size: 1.8em;
}

.timezoneDiv p {
  font-family: 'Inter-Light';
  font-size: 1em;
}

.uvContainer {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  border-right: 0.5px solid #ccc;
  border-bottom: 0.5px solid #ccc;
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  align-items: center;
}

.uvIndexScale {
  display: flex;
  justify-self: center;
  font-family: 'Inter-Regular';
  gap: 10px;
}

.uvIndexScale > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.uvIndexText {
  justify-self: center;
}

.uvIndexText p {
  font-family: 'Inter-Medium';
  font-size: 1.3em;
}

.uvIndexScale > div > div:first-child {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-size: 1.1em;
  color: white;
  }

.activeUv {
  font-family: 'Inter-Bold';
  outline: 2px solid black;
}

.lowIndexNum div, .moderateIndexNum div, .highIndexNum div,
.veryHighIndexNum div, .extremeIndexNum div {
  display: flex;
  justify-content: center;
  padding: 5px 7px;
}

.lowIndexText, .moderateIndexText, .highIndexText
, .veryHighIndexText, .extremeIndexText {
  display: flex;
  justify-content: center;
  color: white;
  padding: 5px 7px;
}

.lowIndexNum div {
  background-color: rgb(67, 218, 67);
}

.lowIndexText {
  background-color: rgb(67, 218, 67);
}

.moderateIndexText {
  background-color: rgb(252, 212, 82);
}

.moderateIndexNum div {
  background-color: rgb(252, 212, 82);
}

.highIndexNum div {
  background-color: orange;
}

.highIndexText {
  background-color: orange;
}

.veryHighIndexText {
  background-color: rgb(253, 64, 64);
}

.veryHighIndexNum div {
  background-color: rgb(253, 64, 64);
}

.extremeIndexNum div {
  background-color: rgb(165, 25, 165);
}

.extremeIndexText {
  background-color: rgb(165, 25, 165);
}

.tempContainer {
  grid-column: 2 / 4;
  grid-row: 1 / 4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid #ccc;
  gap: 30px;
  border-right: 0.5px solid #ccc;
}

.tempDateDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tempDiv {
  font-family: 'Inter-Medium';
  font-size: 2.5em;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
} 

.dateDiv {
  font-family: 'Inter-Regular';
  font-size: 1.3em;
}

.conditionDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.conditionDiv svg {
  height: 100px;
  width: 100px;

}

.infoContainer {
  grid-column: 4 / 5;
  grid-row: 1 / 4;
  border-bottom: 0.5px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.infoContainer div p {
  font-family: 'Inter-Regular';
  font-size: 1.2em;
}

.timeReportDiv {
  grid-column: 1 / 5;
  grid-row: 4 / 5;
  display: grid;
  grid-template-rows: 1fr;
}

.selectTimeDiv {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.selectTimeDiv button {
  font-family: 'Inter-Medium';
  font-size: 1.1em;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.15s ease;
  border: 2px solid black;
}

.activeTime {
  background-color: black;
  color: white;
}

.activeTime:hover {
  background-color: rgb(71, 71, 71);
}

.inactiveTime {
  background-color: white;
  color: black;
}

.inactiveTime:hover {
  background-color: rgb(231, 231, 231);
}

.hourlyDisplay {
  display: grid;
  grid-template-columns: repeat(24, minmax(80px, 1fr));
  overflow-x: scroll;
  overflow-y: hidden;
}

.hourlyDisplay > div {
  background-color: #ffffff;
  box-shadow: 1px 1px 10px #ebebeb;
  border: 0.5px solid #ccc;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr 1fr;
}

.hourlyDiv div:first-child {
  font-size: 20px;
  margin-top: 20px;
}

.timeDisplay {
  font-family: 'Inter-Regular';
}

.hourlyDisplay div p {
  display: flex;
  justify-content: center;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.hourlyTime {
  display: flex;
  justify-content: center;
}

.hourlyTemp {
  display: flex;
  justify-content: center;
}

.timeDisplayContainer {
  width: 90%;
  height: 40%;
  background-color: white;
}

.timeDisplay {
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 5px #d6eaff;
}

.weeklyDisplay {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.weeklyDisplay > div {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #ccc;
  border: 0.5px solid #ccc;
  transition: all 0.15s ease;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
}

.weekDay {
  font-family: 'Inter-Medium';
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.weekTemp {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.weekTemp p {
  font-family: 'Inter-Bold';
  font-size: 1.2em;
}

.weekTemp p:first-child {
  font-family: 'Inter-Regular';
  font-size: 1.2em;
  color: #6b6b6b;
}

.weekCondition {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
}

.weekCondition svg {
  width: 100px;
  height: 100px;
}

.weekCondition p {
  font-family: 'Inter-Regular';
  font-size: 1.3em;
}

/* Fonts */

@font-face {
  font-family: 'Inter-Regular';
  src: url(./fonts/Inter-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url(./fonts/Inter-Bold.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Medium';
  src: url(./fonts/Inter-Medium.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Light';
  src: url(./fonts/Inter-Light.ttf);
  font-style: normal;
}

